/*
	Theme Name: Elegance Theme
	Theme URI: http://www.stephaniehellwig.com/themes
	Description: Elegance is a mobile responsive and HTML5 Genesis theme built for Photographers.
	Author: Stephanie Hellwig
	Author URI: http://www.stephaniehellwig.com/

	Version: 1.2.0

	Tags: one-column, two-columns, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, photography

	Template: genesis
	Template Version: 2.2.6

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/


/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Titles
	- Widgets
		- Featured Content
		- Widget Above Header
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Gravity Forms
		- Jetpack Sharing
		- Pix Proof
		- Simply Instagram
		- Soliloquy Slider
		- Testimonial Rotator
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary & Secondary Navigation
		- Responsive Menu
	- Content Area
		- Home Page
		- Portfolio
		- Entries
		- After Entry
		- Pagination
		- Comments
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Media Queries
		- Retina Display
		- max-width: 1139px
		- max-width: 1023px
		- max-width: 767px
		- max-width: 320px

*/


/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Reset (normalize.css 2.1.2)
	normalize.css v2.1.2 | MIT License | git.io/normalize
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#A9A9A9}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.clearfix:before,
.entry-content:before,
.entry:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.clearfix:after,
.entry-content:after,
.entry:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	background: #fff;
	color: #7a7a7a;
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.625;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

a {
	color: #829da5;
	text-decoration: none;
}

a:hover {
	color: #333;
}

a.more-link {
    font-size: 12px;
    font-style: italic;
    padding: 3px 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a.more-link:hover {
	background-color: #a9a9a9;
	color: #fff;
}

p {
	margin: 0 0 16px;
	margin: 0 0 1.6rem;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote {
	margin: 0;
	padding: 44px 40px;
	padding: 4.4rem 4rem;
	text-align: center;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

blockquote::before {
	content: "\201C";
	font-family: "Times New Roman", georgia;
	display: block;
	font-size: 100px;
	font-size: 10rem;
	height: 0;
	position: relative;
	top: -51px;
	left: -42px;
	text-align: left;
	color: #849ea5;
	opacity: .4;
}

blockquote::after {
	content: "\201d";
	font-family: "Times New Roman", georgia;
	display: block;
	font-size: 100px;
	font-size: 10rem;
	height: 0;
	left: 10px;
	position: relative;
	top: -85px;
	text-align: right;
	color: #849ea5;
	opacity: .4;
}
.entry-content code {
	background-color: #333;
	color: #ddd;
}

cite {
	font-style: normal;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #A9A9A9;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 16px;
	margin: 0 0 1.6rem;
	padding: 0;
}

h1 {
	font-size: 48px;
	font-size: 4.8rem;
}

h2 {
	font-size: 24px;
	font-size: 2.4rem;
}

h3 {
	font-size: 20px;
	font-size: 2rem;
	text-transform: uppercase;
	color: #829da5;
	font-family:'Josefin Sans', sans-serif;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
	color: #61729d !important;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto; /* IE8 */
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	color: #7a7a7a;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 16px;
	padding: 1.6rem;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

::-moz-placeholder {
	color: #999;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #999;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button {
	background-color: #829da5;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	color: #fff !important;
	cursor: pointer;
	padding: 12px 24px;
	padding: 1.2rem 2.4rem;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover {
	background-color: #000;
}

.entry-content .button:hover {
	color: #fff;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

th,
td {
	text-align: left;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
	padding: 0.6rem 0;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-container {
	background-color: #fff;
	margin: 0px auto;
	margin: 0rem auto;
	max-width: 1140px;
	overflow: hidden;
	padding-top: 20px;
}

.site-inner {
	clear: both;
	margin: 45px;
	margin-top: 60px;
}

.wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.site-header .wrap {
    max-width: 350px;
}

/* Column Widths and Positions
--------------------------------------------- */



/* Content */

.content {
	float: right;
	width: 630px;
}

.content-sidebar .content {
	float: left;
}

.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 350px;
	padding-top: 15px;
}

.sidebar-content .sidebar-primary {
	float: left;
}


/* Column Classes
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */

.avatar {
	border: 1px solid #ddd !important;
	float: left;
	padding: 3px;
}

.alignleft .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}

.alignright .avatar {
	margin-left: 24px;
	margin-left: 2.4rem;
}

.search-form {
	overflow: hidden;
	width: 100%;
}

.search-form input[type="search"] {
	background-size: 15px 15px;
	padding: 16px 16px 16px 44px;
	padding: 1.6rem 1.6rem 1.6rem 4.4rem;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 12px;
	margin: 0 auto 1.2rem;
}

a.alignnone img,
img.alignnone {
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft img,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 12px 0;
	margin: 0 2.4rem 1.2rem 0;
}

a.alignright img,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
	margin: 0 0 2.4rem 2.4rem;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0;
	text-align: center;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td {
	text-align: center;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	margin: 30px 0 20px 0;
	margin: 3rem 0 2rem 0;
}

.archive-description,
.author-box,
.sticky {
	background-color: #f5f5f5;
	margin-bottom: 48px;
	margin-bottom: 4.8rem;
	overflow: hidden;
	padding: 32px;
	padding: 3.2rem;
}

.author-box p {
	margin: 0;
}

.author-box .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}

.author-box h1 {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 4px;
	margin-bottom: 0.4rem;
}

/* Titles
--------------------------------------------- */

.entry-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 0;
}

.entry-title a,
.sidebar .widget-title a {
	color: #6b6b6b;
	text-decoration: none;
}

.entry-title a:hover {
	color: #999;
}

.content .home-top .entry-title {
	font-size: 24px;
	font-size: 2.4rem;
}

.home-bottom .entry-title {
	text-align: center;
}

.home-bottom .entry-title a {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

.after-entry .widget-title,
.archive-title,
.comments-title,
.widget .entry-title {
	font-size: 16px;
	letter-spacing: 0;
}

.comment-respond h3,
.entry-comments h3,
.entry-pings h3,
.widget-title,
.widgettitle {
	color: #6b6b6b;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
	padding: 1rem;
	text-align: left;
	border-top: 1px solid #000;
	text-transform: uppercase;
	margin: 0 auto;
}

.comment-respond h3:before,
.entry-comments h3:before,
.widget-title:before {
	margin-right: 10px;
	margin-right: 1rem;
}

.comment-respond h3:after,
.entry-comments h3:after,
.widget-title:after {
	margin-left: 10px;
	margin-left: 1rem;
}

.after-entry .widget-title,
.enews-widget .widget-title {
	background: none;
	text-shadow: none;
}

/*
Widgets
---------------------------------------------------------------------------------------------------- */

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
	padding-bottom: 15px;
}

.featured-content .entry p {
	margin-bottom: 0;
}

.featured-content .entry-title {
	margin-bottom: 8px;
	margin-bottom: 0.8rem;
}

/* Widget Above Header
--------------------------------------------- */

.widget-above-header {
	color: #fff;
	text-align: center;
	background: #000;
	width: 100%;
	min-height: 27px;
}

.widget-above-header p {
	color: #fff;
}

.widget-above-header .widget {
	margin-bottom: 0;
}

.widget-above-header .textwidget p {
	padding-top: 15px;
	padding-top: 1.5rem;
}

.widget-above-header .enews-widget input#subbutton:hover {
	border: 1px solid #eee;
}

/*
Plugins
---------------------------------------------------------------------------------------------------- */
/* WooCommerce
--------------------------------------------- */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce span.onsale {
  background-color: #829da5 !important;
}

.woocommerce .woocommerce-message::before,
.woocommerce .woocommerce-info::before,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price,
.woocommerce form .form-row .required {
  color: #829da5 !important;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover{
  background-color: #000 !important;
}
.woocommerce-message,
.woocommerce-info {
    border-top-color: #829da5 !important;
}
.woocommerce-checkout #payment{
  background-color: #fbfbfb !important;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  text-align: center !important;
  text-transform: uppercase !important;
}
.woocommerce .quantity .qty {
    width: 2.9em !important;
    border-radius: 3px !important;
    padding: 6px !important;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 30% !important;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
	-webkit-box-sizing: content-box !important;
	        box-sizing: content-box !important;
	padding: 7px 10px 5px !important;
	margin: 2px 4px 0 0 !important;
}

figure.woocommerce-product-gallery__wrapper {
	margin: 0px;
}

/* Genesis eNews Extended
--------------------------------------------- */
.widget-above-header .enews-widget {
	background: none;
}

.widget-above-header .enews p {
    float: left;
    text-transform: uppercase;
    width: 33%;
    margin: 12px 0 0;
}
.widget-above-header .enews-widget input {
    border: 0 none;
    font-size: 11px;
    font-size: 1.1rem;
    margin: 1.6rem 0;
    width: 33%;
    padding: 5px;
}

.widget-above-header .enews-widget input#subbutton {
	width: 8% !important;
    margin-right: 20% !important;
    color: #000 !important;
    background: #DCDCDC;
}

.home-middle .enews-widget {
	border: 1px solid #eee;
	padding: 20px 10px;
}

.home-middle .enews-widget input {
	width: 24%;
}

.home-middle .enews-widget button {
	width: auto;
}

.home-middle .enews-widget p {
	text-align: center;
}

.sidebar .enews-widget input {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

.sidebar .enews-widget input[type="submit"] {
	background-color: #829da5;
	color: #fff;
	margin: 0;
	width: 100%;
}

.sidebar .enews-widget input:hover[type="submit"] {
	background-color: #000;
}

.sidebar .enews-widget input {
	background-color: #fff;
	-webkit-box-shadow: none;
	        box-shadow: none;
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
}

.after-entry .enews-widget input {
	margin: 10px 0px;
	margin: 1rem 0;
	width: 90%;
}

.after-entry .enews-widget input[type="submit"] {
	background-color: #829da5;
}

.after-entry .enews-widget input:hover[type="submit"] {
	background-color: #000;
}

/* Genesis Latest Tweets
--------------------------------------------- */

.latest-tweets ul li {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

/* Gravity Forms
--------------------------------------------- */

.site-inner div.gform_wrapper input[type="text"],
.site-inner div.gform_wrapper textarea,
.site-inner div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	padding: 14px;
}

.site-inner div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
	margin: 1.6rem 0 0;
}

.site-inner div.gform_wrapper input[type="submit"] {
	font-size: 14px;
	font-size: 1.4rem;
}

/* Jetpack Sharing
--------------------------------------------- */

img#wpstats {
	display: none;
}

.entry-content div.sharedaddy div.sd-block {
	border: none;
	padding: 0;
}

.entry-content div.sharedaddy .sd-content {
	float: left;
	margin-bottom: 32px;
}

.entry-content div.sharedaddy a.sd-button {
	border: none !important;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.entry-content .sd-social-icon-text a.sd-button > span, a.sd-button > span {
	opacity: 1;
	padding: 4px 8px;
}

.entry-content a.sd-button > span {
	background: #829da5 !important;
	border: none;
	color: #fff;
	font-family: 'Muli', serif;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.entry-content a.sd-button:hover > span {
	background: #DFDDDB !important;
}

.sd-content .sd-button span.share-count {
	color: #fff !important;
	font-size: 100% !important;
}

.entry-content div.sharedaddy .sd-content ul {
	float: left;

}

.entry-content div.sharedaddy .sd-content li {
	margin: 0 5px 5px 0px !important;
}

.entry-content div.sharedaddy .sd-content {
	width: 100%;
}

/* Jetpack form
--------------------------------------------- */
.contact-form textarea,
.contact-form input[type=email],
.contact-form input[type=text] {
	width: 98% !important;
}

/* PixProof
--------------------------------------------- */

.proof_gallery hr {
	display: none;
}

.proof_gallery .gallery {
	max-width: 850px;
}

/* Simply Instagram
--------------------------------------------- */

.front-photo {
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
}

/* Soliloquy Slider
--------------------------------------------- */
.soliloquy-container .soliloquy-image {
	padding: 2px;
}

.soliloquy-container .soliloquy-prev,
.soliloquy-container .soliloquy-next {
	background: none !important;
}

/* Testimonial Rotator
--------------------------------------------- */

.testimonial_rotator_quote::before {
	content: "\201C";
    font-family: "Times New Roman", georgia;
    display: block;
    font-size: 100px;
    font-size: 10rem;
    height: 0;
    position: relative;
    top: -67px;
    text-align: center;
    color: #849ea5;
    opacity: .4;
    padding: 20px;
}
.testimonial_rotator_quote,
.testimonial_rotator_slide_title {
	color: #14262f;
	opacity: 0.8;
}


/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
	margin-bottom: 19px;
	overflow: hidden;
	padding: 0;
}

.header-image .site-header {
	padding: 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: none;
	width: 350px;
	border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
    padding: 15px;
}

.site-title {
	font-family: 'Quattrocento', serif;
	font-size: 60px;
	font-size: 6rem;
	line-height: 1;
	margin: 0 0 0px;
	text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
	color: #829da5;
	display: inline-block;
	text-decoration: none;
}

.site-description {
	color: #999;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-size: 2rem;
	line-height: 1.4;
	margin: 0;
	text-align: center;
}

.header-image .site-description,
.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .site-title,
.header-image .title-area {
	padding: 0;
}

.header-image .site-title a {
	clear: both;
	width: 100%;
	min-height: 135px;
	background-size: contain !important;
	padding: 0;
	margin: 0 auto;
	background-position: center !important;
}

.header-image .nav-primary,
.header-image .nav-secondary
 {
	margin-top: -130px;
}

/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	width: 100%;
	float:left;

}

.right-header.widget-area .search-form input[type="search"] {
	background-color: #ececec;
    font-style: italic;
    color: #656565;
    letter-spacing: .1em;
    font-family: "Times New Roman", georgia, serif !important;
    border: 0px;
    padding: 5px 10px;
    width: 230px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    display: block;
}

.right-header.widget-area {
	float: right;
	padding-right: 70px;
}

.header-left.widget-area {
	float: left;
	width: 390px;
	padding-left: 50px;
}

.header-left .widget-title {
	border: none;
}

.header-left.widget-area,
.right-header.widget-area {
	margin-top: -57px;
}

.header-left.widget-area .simple-social-icons .widget-title.widgettitle {
    float: left;
    display: inline-block;
    font-style: italic;
    text-transform: lowercase;
    color: #999;
    background: none;
    letter-spacing: .1em;
    font-family: "Times New Roman", georgia, serif !important;
    font-size: 12px;
    }

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 13px;
	line-height: 1;
	margin: 0;
	padding: 0;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.genesis-nav-menu a {
	color: #7a7a7a;
	display: block;
	padding: 16px 11px 14px;
	padding: 1.6rem 1.1rem 1.4rem;
	position: relative;
	text-decoration: none;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a {
	color: #829da5;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	-webkit-transition:	opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 180px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #eee;
	color: #a9a9a9;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 12px 16px;
	padding: 1.2rem 1.6rem;
	position: relative;
	width: 180px;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #A9A9A9;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -36px 0 0 174px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 16px 20px 14px;
	padding: 1.6rem 2rem 1.4rem;
	text-transform: uppercase;
	display: none;
}

.genesis-nav-menu > .right > a {
	background: none;
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .right > a:hover {
	color: #333;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
	margin-left: 4.8rem;
}

.genesis-nav-menu > .search {
	padding: 0;
}

.genesis-nav-menu .search-form {
	width: 100%;
}

.genesis-nav-menu .search-form input[type="search"] {
	font-size: 12px;
	font-size: 1.2rem;
	padding: 14px 14px 14px 44px;
	padding: 1.4rem 1.4rem 1.4rem 4.4rem;
}

/* Site Header Navigation
--------------------------------------------- */

.site-header ul.genesis-nav-menu {
	background-color: #333;
}

.site-header .sub-menu .sub-menu {
	margin-top: -55px;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary,
.nav-secondary {
	clear: none;
	text-align: center;
	width: 33%;
	border-bottom: 1px solid #000;
}

.nav-primary {
	float: left;
}

.nav-secondary {
	float: right;
}

.nav-primary a,
.nav-secondary a {
	text-transform: uppercase;
}

.nav-primary .sub-menu a {
	padding: 16px 15px;
	padding: 1.6rem 1.5rem;
}

.nav-primary .sub-menu a:hover,
.nav-secondary .sub-menu a:hover {
	background-color: #829da5;
	color: #fff;
}

.nav-primary .sub-menu .sub-menu {
	margin: -44px 0 0 174px;
}

.nav-primary,
.nav-secondary {
	margin: -114px 0 20px;
}

/* Responsive Menu
--------------------------------------------- */

.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
}

@media only screen and (max-width: 1139px) {

	p.site-description {
    max-height: 0px;
	}

	.js nav {
		display: none;
		position: relative;
	}

	.js nav .wrap {
		padding: 0;
	}

	.js nav.pagination {
		display: block;
	}

	.menu-toggle,
	.sub-menu-toggle {
		background-color: #fcf9f9;
		color: #333 !important;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	.menu-toggle {
		position: relative;
		right: 0;
		z-index: 1000;
		width: 100%;
	}

	.menu-toggle:before,
	.menu-toggle.activated:before {
		color: #333;
		content: "\f333";
		display: inline-block;
		font: normal 20px/1 'dashicons';
		margin: 0 auto;
		padding-right: 10px;
		text-rendering: auto;
		-webkit-transform: translate(0, 0);
		transform:				 translate(0, 0);
		/*vertical-align: bottom;*/
		vertical-align: top;
	}

	.sub-menu-toggle {
		float: right;
		padding: 18px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.sub-menu-toggle:before {
		content: "\f347";
		display: inline-block;
		font: normal 16px/1 'dashicons';
		text-rendering: auto;
		-webkit-transform: translate(0, 0);
		transform:				 translate(0, 0);
	}

	.sub-menu-toggle.activated:before {
		content: "\f343";
	}

	.js .genesis-nav-menu .menu-item {
		display: block;
		float: none;
		position: relative;
		text-align: left;
	}

	.js .genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.js .genesis-nav-menu .menu-item a {
		border: none;
		color: #333;
		/*font-family: 'Roboto Condensed', sans-serif;*/
		padding: 20px;
		width: 100%;
	}

	.js .genesis-nav-menu .menu-item a:hover,
	.js .genesis-nav-menu .sub-menu {
		border: none;
	}

	.js .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
	.js .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
		left: 0;
		margin-left: 0;
	}

	.js .genesis-nav-menu > .menu-item-has-children > a:after {
		content: none;
	}

	.js .genesis-nav-menu .sub-menu {
		clear: both;
		display: none;
		margin: 0;
		opacity: 1;
		position: static;
		width: 100%;
		padding-left: 20px;
	}

	button#mobile-nav-primary {
		color: #333 !important;
		padding: 5px;
		background: #9cb3de !important;
	}
	.js .genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.js .genesis-nav-menu .sub-menu a {
		border: none;
	}

	.js nav .genesis-nav-menu .menu-item .sub-menu li a,
	.js nav .genesis-nav-menu .menu-item .sub-menu li a:hover,
	.js nav button:hover,
	.js .menu-toggle:hover,
	.js .nav-primary {
		background-color: #f9f9f9;
		color: #333;
	}

	.js nav .genesis-nav-menu .menu-item .sub-menu li a:focus,
	.js nav .genesis-nav-menu .menu-item a:focus,
	.js nav button:focus,
	.js .menu-toggle:focus {
		background-color: #f9f9f9;
		color: #333;
	}

	.js .nav-header .genesis-nav-menu .menu-item a,
	.js .nav-secondary .genesis-nav-menu .menu-item a {
		color: #333;
	}

}
/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Home Page
--------------------------------------------- */
/* Featured Page widgets - Titles on Hover
--------------------------------------------- */

.home-middle .entry-header::after {
	display: none;
}

.home-middle .alignnone {
	margin-bottom: 0;
}

.home-middle .featured-content img {
	vertical-align: top;
	-webkit-transition:  all .2s linear;
	transition:  all .2s linear;
}

.home-middle .entry-header {
	margin-top: 20px;
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

/* Custom Archives
------------------------------------------------------------ */

.posts-archive .post-image.entry-image {
    display: none;
}

.grid-thumbnail {
	position: relative;
}

.posts-archive .entry .entry-content {
	padding: 20px 4px;
}

.posts-archive a {
	text-decoration: none;
}

.posts-archive .entry p {
	margin-bottom: 0;
}

.posts-archive .entry-title {
	font-size: 20px;
	margin: 10px 0 0;
}

.elegance-featured-image img {
	vertical-align: top;
}

.elegance-featured-image:hover img {
	opacity: 0.7;
}

/* Hover effect of home middle
--------------------------------------------- */
.home-middle .widget .entry {
	position: relative;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #000), color-stop(50%, #fff)) !important;
	background: linear-gradient(to top, #000 50%, #fff 50%) !important;
	display: inline-block;
	margin: 1% 1% 0 0;
}

.home-middle .widget .entry:hover .entry-header {
	opacity: 1;
}

.home-middle .widget .entry:hover img {
	opacity: 0.3;
}

.home-middle {
	overflow: hidden;
	padding-top: 20px;
}

.home-middle .entry-title a {
	color: #fff;
}

.home-middle h4 {
	background: #fff;
	color: #000;
	margin: 0 auto 5px;
	padding: 10px;
	position: relative;
	text-align: left;
	width: 100%;
	}

.home-middle-left,
.home-middle-right {
	width: 50%;
}

.home-middle-left {
	float: left;
	padding-right: 10px;
}

.home-middle-right {
	float: right;
	padding-left: 10px;
}



.home-middle .featured-content .entry {
	background: none;
	margin: 0;
	padding: 0;
}

.home-middle a.alignnone img,
.home-middle img.alignnone {
	margin-bottom: 0;
}

/* Featured Posts section of Home Bottom
------------------------------------------------------- */

.home-bottom {
	background-color: #fff;
	margin-top:44px;
}

.home-bottom .wrap {
	max-width: 1140px;
	margin: 0 auto;
}

.home-bottom .featured-content img.entry-image {
	left: 0;
	position: absolute;
}

.home-bottom .featured-content img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

.home-bottom .featured-content .entry {
    background-image: none;
    border-bottom: none;
    color: #fff;
    height: 260px;
    float: left;
    margin: 6px 0px;
    overflow: hidden;
    position: relative;
    width: 33.33%;
}

/* Hover effect of the home-bottom
------------------------------------------------------- */
.home-bottom .featured-content .entry:hover {
	background: #000;
}

.home-bottom .featured-content .entry-title a {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.home-bottom .featured-content {
	padding: 0;
}

.home-bottom .featured-content article ~ ul,
.home-bottom .featured-content .more-from-category {
	margin-bottom: 40px;
	text-align: center;
}

.home-bottom .featured-content .entry-image {
	display: block;
	margin-bottom: 0;
}

.home-bottom .featured-content .entry-header {
	padding: 20px 40px 0;
}

.home-bottom .featured-content .entry-content {
	padding: 0 40px;
	text-align: center;
}

.home-bottom .featured-content .entry-content p {
	margin-bottom: 40px;
}

.home-bottom .featured-content a:hover {
	color: #d7c603;
}

.home-bottom .featured-content img.entry-image {
	margin: 0;
}

.home-bottom .enews-widget {
	background: none;
	padding: 20px 0px;

}

.home-bottom .enews form {
    background: #000;
}

.home-bottom .enews p {
    float: left;
    color: #fff;
    text-transform: capitalize;
    width: 25%;
    margin: 12px 35px 0;
}
.home-bottom .enews-widget input {
    border: 0 none;
    font-size: 11px;
    font-size: 1.1rem;
    margin: 1.6rem 0;
    width: 23%;
    padding: 5px;
}

.home-bottom .enews-widget input#subbutton {
	width: 8% !important;
    margin-right: 5% !important;
    color: #000 !important;
    background: #DCDCDC url(images/tip.png) center right no-repeat;
}


/* CTA widget area with customizer image background
------------------------------------------------------- */
.cta-widget {
	background: #f9f9f9;
  background-size: cover;
  background-position: center;
	margin: 17px 15px 17px;
	padding: 17px 20px;
	max-height: 150px;
}

.cta-widget .widget {
	text-align: right;
	width: 90%;
	margin: 0;
}

.home .cta-widget {
    margin: 0 auto !important;
}

.cta-widget .enews-widget p,
.home-middle .enews-widget p {
	color: #000;
	float: left;
	width: 40%;
	margin-top: 5px;
	margin-bottom: 0;
	text-align: center;
}

.cta-widget #subscribe,
.home-middle #subscribe {
	float: right;
	width: 60%;
}

.cta-widget .enews-widget input,
.home-middle .enews-widget input {
	border: none;
	border-radius: 3px;
	float: left;
	width: 17%;
	margin-right: 10px;
	margin-bottom: 0;
	padding: 13px;
	color: #888;
}

.cta-widget .enews-widget input[type="submit"],
.home-middle .enews-widget input[type="submit"] {
	border: 1px solid #333;
	width: auto;
}


/* Portfolio
--------------------------------------------- */

.elegance-portfolio .portfolio {
	float: left;
	padding: 0 30px 0px;
	padding: 0 3rem 0rem;
	width: 33.33333333%;
}

.elegance-portfolio .portfolio img {
	opacity: 1;
}

.elegance-portfolio .portfolio img:hover {
	opacity: .8;
}

.elegance-portfolio .entry {
	background: none;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}

.elegance-portfolio .entry-title {
	font-size: 16px;
	font-size: 1.6rem;
}

.elegance-portfolio .entry-meta,
.single-portfolio .entry-meta {
	display: none;
}

.elegance-portfolio .portfolio:nth-of-type(3n+1) {
	clear: left;
}

.single-portfolio .content {
	text-align: center;
}

.portfolio .entry-content img {
	margin: 0.5em;
}

/* For twenty20 slider images, we need to fix image styles */
.portfolio .entry-content .twentytwenty-wrapper img {
	margin: 0;
}

/* .portfolio .entry-content img.size-medium {
	max-width: 300px;
	max-height: 200px;
	-o-object-fit: cover;
	   object-fit: cover;
} */

/* Lightbox styling */
.slb_data_title, .slb_template_tag_item_title { 
	display: none !important; /* Hide filename title */
}

/* Entries
--------------------------------------------- */

.entry,
.page.page-template-page_blog-php .entry {
	margin-bottom: 48px;
	margin-bottom: 4.8rem;
	padding-bottom: 32px;
	padding-bottom: 3.2rem;
}

.page .entry {
	background: none;
}

.single .entry {
	background: none;
	margin-bottom: 32px;
	margin-bottom: 3.2rem;
	padding: 0;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
	margin-bottom: 2.6rem;
}


.entry-content ol li,
.entry-content ul li {
	margin-left: 40px;
	margin-left: 4rem;
}

.entry-content ol li {
	list-style-type: decimal;
}

.entry-content ul li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul,
.entry-content .wp-caption p {
	margin-bottom: 0;
}

.entry-header .entry-meta {
	text-align: center;
}

.entry-footer .entry-meta {
	text-align: left;
}

.entry-header .entry-meta:before {
	border-bottom: 1px solid #000;
    content: "---- ";
    color: #fff;
    margin-top: -9px;
    position: absolute;
    margin-left: -24px;
}

.entry-header .entry-meta:after {
	border-bottom: 1px solid #000;
    content: "---- ";
    color: #fff;
    margin-top: -9px;
    position: absolute;
}

.entry-meta {
	color: #7a7a7a;
	font-size: 11px;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.entry-meta a {
	color: #999;
	text-decoration: none;
}

.entry-meta a:hover {
	color: #222;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}

.entry-meta .entry-comments::before {
	margin: 0 6px 0 2px;
	margin: 0 0.6rem 0 0.2rem;
}

.entry-meta .entry-categories,
.entry-meta .entry-tags {
	display: block;
	float: left;
	width: 60%;
}

.content .entry-meta .entry-comments-link {
	float: right;
}

.content .entry-meta .entry-comments-link a {
	background-color: #829da5;
	color: #fff;
	padding: 15px 20px;
	padding: 1.5rem 2rem;
}

.content .entry-meta .entry-comments-link a:hover {
	background-color: #333;
	color: #fff;
}

/* After Entry
--------------------------------------------- */

.after-entry,
.after-entry .wrap {
	clear: both;
	overflow: hidden;
}

.after-entry {
	border: 1px solid #000;
	margin-top: 32px;
	margin-top: 3.2rem;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
	padding: 14px;
	padding: 1.4rem;
	text-align: center;
}

.after-entry .wrap {
	background-color: #fff;
	padding: 32px;
	padding: 3.2rem;
}

.after-entry p {
	margin-bottom: 20px;
	margin-bottom: 2rem;
}

/* Pagination
--------------------------------------------- */

.archive-pagination {
  clear: both;
	font-size: 14px;
	font-size: 1.4rem;
	margin: 40px 0;
	margin: 4rem 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #333;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	padding: 0.8rem 1.2rem;
	text-decoration: none;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #829da5 !important;
}

/* Comments
--------------------------------------------- */

.entry-comments,
.entry-pings {
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

p.form-submit,
.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
	margin-right: 1.2rem;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin-top: 24px;
	margin-top: 2.4rem;
	padding: 32px;
	padding: 3.2rem;
}

.comment-list li li {
	margin-right: -32px;
	margin-right: -3.2rem;
}

.comment .avatar {
	margin: 0 16px 24px 0;
	margin: 0 1.6rem 2.4rem 0;
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 24px;
	padding: 2.4rem;
}

p.subscribe-to-comments {
	padding: 24px 0 16px;
	padding: 2.4rem 0 1.6rem;
}

/* Pricing Table
--------------------------------------------- */

.pricing-table h4 {
	border-bottom: 1px solid #333;
	font-weight: 400;
	margin: -40px -40px 40px;
	padding: 40px;
	text-align: center;
}

.pricing-table .one-third {
	background-color: #fff;
	border: 1px solid #333;
	margin: 20px -1px;
	padding: 40px;
	width: 33.33%;
}

.pricing-table .one-third:nth-child(3n+1) {
	margin: 20px 0;
}

.pricing-table .one-third:nth-child(3n+2) {
	margin-bottom: 0;
	margin-top: 0;
}

.pricing-table .one-third:nth-child(3n) {
	margin: 20px 0;
}

.pricing-table ul {
	margin: 0 0 30px;
}

.pricing-table ul li {
	background: #f9f9f9;
	list-style-type: none;
	padding: 10px;
	margin-bottom: 5px;
	text-align: center;
	margin-left: 0;
}

.pricing-table a.button {
	text-align: center;
	display: block;
}

/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	display: inline;
	font-size: 15px;
	font-size: 1.5rem;
	margin-top: 25px;
}

.sidebar p:last-child,
.sidebar ul {
	margin: 0;
}

.widget li {
	background: #FBFBFB;
	list-style-type: none;
	margin-bottom: 6px;
	margin-bottom: 0.6rem;
	padding: 0;
	text-align: center;
	word-wrap: break-word;
}

.sidebar .widget li {
	padding: 5px;
}

.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.widget {
	margin-bottom: 32px;
	margin-bottom: 3.2rem;
	word-wrap: break-word;
}

.sidebar .search-form {
	width: 100%;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	clear: both;
	font-size: 15px;
	font-size: 1.5rem;
	margin: 32px auto;
	margin: 3.2rem auto;
	max-width: 1140px;
	padding: 36px 0 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 33%;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	float: left;
}

.footer-widgets-1 .menu {
    text-align: left;
    text-transform: uppercase;
}

.footer-widgets .widget {
	margin: 0 10px 30px;
}

.footer-widgets .search-form {
	width: 100%;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background: #000;
	min-height: 45px;
	color: #fff;
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: 400;
	padding: 16px;
	padding: 1.6rem;
	text-align: center;
}

.site-footer a {
	color: #eee;
	text-decoration: none;
}

.site-footer a:hover {
	color: #829da5;
}

.site-footer p {
	margin: 0;
}

.creds {
    margin: 20px;
}

/*
Site Search Results Page
---------------------------------------------------------------------------------------------------- */
body.search article img {
	width: 500px;
	height: 300px;
	-o-object-fit: cover;
	   object-fit: cover;
}

/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1139px) {

	.footer-widgets,
	.site-container,
	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 688px;
	}

	.content {
		width: 550px;
	}
	
	.home-bottom .featuredpost .entry { 
		width: 33.33%;
		height: auto;
	}

	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content {
		width: 380px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary {
		width: 272px;
	}

	.title-area {
		border-left: none;
		border-right: none;
		min-height: 150px;
	}

	.home-middle-left,
	.home-middle-right {
		width: 49%;
	}

	.footer-widgets {
		padding: 0;
	}

	.home-bottom .wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.home-bottom {
		padding-bottom: 0;
	}

	.home-bottom .featuredpost img.entry-image {
		position: relative;
		width: 100%;
	}

	.home-bottom .featuredcontent .entry img:hover {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity=90);
		-moz-opacity: 0.9;
		-khtml-opacity: 0.9;
		opacity: 0.9;
	}

	.home-bottom .featuredpost .entry {
		color: #333;
		background-color: #fff;
		height:auto;
		width: 100%;
	}

	.home-bottom .featuredpost .entry .alignnone {
		margin-bottom: 0;
	}

	.home-bottom .featuredpost .entry-header {
		padding-top: 0;
	}

	.home-bottom .featuredpost .entry-title {
		margin-top: 20px;
	}

	.home-bottom .featuredpost .entry-title a {
		color: #6b6b6b;
	}

	.genesis-nav-menu {
		font-size: 11px;
	}

	.genesis-nav-menu a {
		padding-bottom: 16px;
	}
	.proof_gallery .proof_gallery img {
		width: 100%;
	}
	.right-header.widget-area {
		display: none;
	}
	.header-image .nav-primary
	{
	   margin-top: -25px;
   	}	


}

@media only screen and (max-width: 1023px) {

	.footer-widgets,
	.site-container,
	.wrap {
		max-width: 772px;
	}

	.title-area {
		min-height: 125px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.content-sidebar-sidebar .content,
	.content,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.sidebar-sidebar-content .content,
	.site-header .widget-area,
	.title-area,
	.nav-primary,
	.nav-secondary,
	.enews-below-header .widget,
	.enews-below-header .enews-widget input,
	.site-title a, .site-title a:hover,
	.elegance-portfolio .portfolio,
	.pricing-table .one-third {
		width: 100%;
	}

	.header-image .site-title a {
		float: none;
		margin: 0 auto 0;
		width: 100% !important;
	}

	.title-area {
		border-left: none;
		border-right: none;
	}

	.site-header {
		width: 100%;
	}

	.sidebar {
		margin-top: 0;
	}

	.content-sidebar .content,
	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .content {
		margin-top: 0;
	}

	.nav-primary,
	.nav-secondary {
		float: none;
		margin: 0px 0 5px;
		border-bottom: none;
	}

	.header-image .nav-primary,
	.header-image .nav-secondary {
		margin: 0;
	}

	.entry-footer .entry-meta,
	.sidebar .widget,
	.site-header,
	.entry-comments,
	.comment-respond {
		padding: 0;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-footer p,
	.site-header hgroup,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a {
		padding: 16px;
		padding: 1.6rem;
	}

	.header-left.widget-area {
    	padding-left: 228px;
    	margin-top: 0px;
	}

	.right-header.widget-area {
    	padding-right: 0px;
    	margin-top: -30px;
	}
	.right-header.widget-area,
	.header-left.widget-area {
		width:100%;
		float: none;
	}

	.home-middle .enews-widget input {
    	width: 23%;
	}

	.home-bottom .featuredpost .entry {
		height: auto;
		width: 100%;
	}

	.content div.sharedaddy .sd-content ul {
		float: none;
	}

	.genesis-nav-menu li.alignleft,
	.genesis-nav-menu li.right {
		display: none;
	}

	.entry-footer .entry-meta {
		margin: 0;
		padding-top: 12px;
		padding-top: 1.2rem;
	}

	.after-entry .enews-widget input,
	.after-entry .enews-widget input[type="submit"],
	.home-middle .enews-widget input,
	.home-middle .enews-widget input[type="submit"] {
		width: 100%;
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
		padding: 4rem;
	}

	.footer-widgets-1 {
		margin: 0;
	}

	.site-footer {
		padding: 24px;
		padding: 2.4rem;
	}

	.home-bottom .featured-content:hover .entry-content p {
		color: #eee;
	}

	body.search article img {
		width: 400px;
		height: 300px;
	}	

	.site-inner {
		margin-top: 25px;
	}

}

@media only screen and (max-width: 767px) {

	body {
		font-size: 14px;
		font-size: 1.4rem;
	}

	.footer-widgets,
	.site-container {
		width: 94%;
	}

	.site-container {
		padding: 0px 1%;
	}

	.five-sixths,
	.four-sixths,
	.home-middle-left,
	.home-middle-right,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.genesis-nav-menu a,
	.nav-primary .sub-menu a {
		font-size: 12px;
		font-size: 1.2rem;
		padding: 12px;
		padding: 1.2rem;
	}

	.nav-secondary a,
	.nav-secondary .sub-menu a {
		font-size: 11px;
		font-size: 1.1rem;
		padding: 10px 8px;
		padding: 1rem 0.8rem;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: -31px 0 0 174px;
	}

	.nav-primary .sub-menu .sub-menu {
		margin: -36px 0 0 174px;
	}

	.header-left.widget-area {
		padding-left: 0px;
		margin: 0 auto;
	}

	.header-left.widget-area .simple-social-icons .widget-title.widgettitle {
		display: none;
	}

	.right-header.widget-area,
	.header-left.widget-area {
		display: none;
	}

	.home-middle-left,
	.home-middle-right {
		background: none;
		float: none;
		margin: 0;
		width: 100%;
		padding: 0px;
	}

	.entry-title {
		font-size: 30px;
		font-size: 3rem;
	}

	.footer-widgets {
		padding: 20px 5% 0;
		padding: 2rem 5% 0;
	}
	
	body.search article .entry-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	body.search article .entry-meta {
		width: 100%;
	}
}

@media only screen and (max-width: 320px) {

	.header-image .site-title a {
		background-size: contain !important;
		margin: 0;
		padding: 0;
	}





	.site-title {
		font-size: 36px;
		font-size: 3.6rem;
	}

	.entry-meta .entry-categories,
	.entry-meta .entry-tags {
		text-align: center;
		width: 100%;
	}

	.content .entry-meta .entry-comments-link {
		display: block;
		float: none;
		margin-bottom: 20px;
		text-align: center;
	}

	.home-bottom .featuredpost .entry {
		overflow: hidden;
		width: 100%;
	}


}

/* Header fix */
@media only screen and (min-width: 1139px) {
	
	.site-header {
		margin-bottom: -7rem;
	}

	.header-image .nav-primary, 
	.header-image .nav-secondary {
		margin-top: -4rem;	
	}

	.header-image .site-title a {
		min-height: 100px;
	}

	.widget-area.home-top {
		margin-top: 3rem;
	}

}